[submodule "Engine/Vendor/miniaudio"]
	path = Engine/Vendor/miniaudio
	url = git@github.com:mackron/miniaudio.git
	branch = master
[submodule "Engine/Vendor/glfw"]
	path = Engine/Vendor/glfw
	url = git@github.com:glfw/glfw.git
	branch = master
[submodule "Engine/Vendor/imgui"]
	path = Engine/Vendor/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "Engine/Vendor/box2d"]
	path = Engine/Vendor/box2d
	url = git@github.com:erincatto/box2d.git
branch = master	
[submodule "Engine/Vendor/assimp"]
	path = Engine/Vendor/assimp
	url = git@github.com:assimp/assimp.git
	branch = main
[submodule "Engine/Vendor/SPIRV-Reflect"]
	path = Engine/Vendor/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
