[submodule "glfw"]
	path = Engine/Vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "box2d"]
	path = Engine/Vendor/box2d
	url = git@github.com:Tiwann/box2d.git
	branch = nova
[submodule "Jolt"]
	path = Engine/Vendor/Jolt
	url = git@github.com:jrouwe/JoltPhysics.git
[submodule "assimp"]
	path = Engine/Vendor/assimp
	url = git@github.com:assimp/assimp.git
[submodule "VulkanMemoryAllocator"]
	path = Engine/Vendor/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "imgui"]
	path = Engine/Vendor/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "imguizmo"]
	path = Engine/Vendor/imguizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "utfcpp"]
	path = Engine/Vendor/utfcpp
	url = git@github.com:nemtrif/utfcpp.git
[submodule "vorbis"]
	path = Engine/Vendor/vorbis
	url = git@gitlab.xiph.org:xiph/vorbis.git
[submodule "ogg"]
	path = Engine/Vendor/ogg
	url = git@gitlab.xiph.org:xiph/ogg.git
[submodule "json"]
	path = Engine/Vendor/json
	url = git@github.com:nlohmann/json.git
[submodule "DirectX-Headers"]
	path = Engine/Vendor/DirectX-Headers
	url = git@github.com:microsoft/DirectX-Headers.git
[submodule "Engine/Vendor/freetype"]
	path = Engine/Vendor/freetype
	url = git@ssh.gitlab.freedesktop.org:freetype/freetype.git
[submodule "Engine/Vendor/msdf-atlas-gen"]
	path = Engine/Vendor/msdf-atlas-gen
	url = git@github.com:Chlumsky/msdf-atlas-gen.git
